html {
  font-family      : "Helvetica Neue",Helvetica,Arial,sans-serif;
  color            : #484848;
  line-height      : 1.28;
  background-color : #f8f5ec;
}

#container {
  margin           : 30px;
  background-color : white;
  padding          : 15px 20px;
  border-radius    : 3px;
  border           : 1px solid rgba(16,16,16,0.1);
}

.paint {
  width            : 400px;
  background-color : #fff;
  margin-bottom    : 10px;
  padding          : 10px;
  position         : relative;
  border-radius    : 3px;
  border           : 1px solid rgba(16,16,16,0.1);
}

.paint .preview {
  width        : 50px;
  height       : 50px;
  border       : 1px solid #666;
  margin-right : 10px;
  float        : left;
}

.paint .buy {
 position : absolute;
 top      : 23px;
 right    : 10px;
}

.paint p {
  font-weight : bold;
}

.basket {
  float:right;
}

.total td {
  font-weight: bold;
  border-top: 2px solid black;
  margin-top: 10px;
}
